:root {
  --mid-blue: #007bff; 
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

/* ----------------------src/styles.css ---------------------*/
nav {
  background-color: #282c34;
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0rem;
}

/* Style for each list item */
nav ul li {
  margin: 0px;
  border: solid var(--mid-blue) 1px;

  padding: 10px;
  min-width: 180px;
}

/* Style for links inside the list items */
nav ul li a {
  color: #dee2e6;
}

/* Hover effect for links */
nav ul li a:hover {
  color: var(--mid-blue);
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* --------------------------------------------*/

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.game-window {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

/* Style canvas */
.game-window canvas {
  border: 3px solid var(--mid-blue);
  width: 99%;   
  height: 100%;  
  display: block;  
}

.logo {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 1rem;
}

/* MEDIA QUERIES---------------------------------------------------------- */

@media (max-width: 620px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    border: solid var(--mid-blue) 1px;
  }
}