/*

canvas {
    width: 100%;  
    height: 100%;  
    background-image: linear-gradient(to top, rgb(255, 60, 0) 1%, #4e0d0d 7%, #000000 100%) !important; 
    background-color: #4e0d0d !important;  
}

*/